* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 60px;
    min-width: 60px; /* Define um tamanho mínimo para a sidebar */
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;    
    position: fixed;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    padding: 3px;
    width: 55px;
}

.sidebar-item.active {
    background-color: #4e4d4d;
}

.icon {
    font-size: 24px;
}

.text {
    font-size: 12px;
    margin-top: 5px;
}

.sidebar-item:hover {
    color: #ccc;
}

.main-content {
    display: flex;
    flex: 1;
    width: calc(100% - 80px);
    padding: 20px;
    gap: 20px;
    margin-left: 65px
}

.calendar-container {
    width: 20%;
    min-width: 290px; /* Define um tamanho mínimo para o calendário */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto; 
    height: 310px;
    padding: 10px;
    margin-top: 40px;
    position: fixed;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #526e8d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.calendar-header>button {
    border: none;
    background: transparent;
    cursor: pointer;
}


.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    gap: 5px;
}

.day-name {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-size: xx-small;
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-size: xx-small;
}

.day:hover {
    background-color: #e0e0e0;
}

.day.today {
    /* background-color: #007bff; */
    /* color: #fff; */
    color: #333;
    font-weight: bold;
    border-style: outset;
}

.day.selected {
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
}

/* Estilo para os dias que possuem cards */
.day.has-card::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #4f5255;
    border-radius: 50%;
    margin: 2px auto 0;
    opacity: var(--dot-opacity, 1); /* Usa a variável --dot-opacity */
}


.card-area {
    flex: 1; /* Ocupa o espaço restante */
    display: grid;
    gap: 20px;
    overflow-y: auto;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-content: start;
    overflow-x: hidden;
    margin-top: 3%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%; /* Assegura que o container ocupa toda a largura disponível */
    box-sizing: border-box;
    margin-left: 300px;
    align-self: start;
}

/* Responsividade para telas menores */
@media (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }
}


.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px; /* Ajuste conforme necessário */
}

.card {
    background: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Suaviza a transição do efeito */
    cursor: pointer; /* Aponta que o card é clicável */
}

/* Efeito de hover nos cards */
.card:hover {
    background-color: #f1f1f1;
    transform: translateY(-1px); /* Leve elevação */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.card h4 {
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-bottom: 10px;
}

/* Efeito padrão de blur para as descrições */
.card p {
    font-size: 10px;
    filter: blur(5px); /* Aplica o blur padrão */
    transition: filter 0.3s ease; /* Transição suave para o efeito */
    overflow: hidden;
}

.card-classifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas a exibir */
    -webkit-box-orient: vertical;
}



/* Classe para remover o blur */
.card p.visible {
    filter: none; /* Remove o efeito de blur */
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    /* Ajustar a sidebar */
    .sidebar {
        width: 50px;
    }

    /* Ocultar o calendário ou ajustar seu tamanho */
    .calendar-container {
        width: 100%;
        order: 1; /* Mover o calendário para cima */
    }

    /* Área dos Cards */
    .card-area {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
        order: 2;
    }
}


.add-card-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #526e8d;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.add-card-btn:hover {
    background-color: #333;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o modal esteja no topo */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    height: 95%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    justify-content: space-between;
}

.modal-content input,
.modal-content textarea {
    font-size: 18px;
}

/* Ajusta o título do modal */
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    bottom: 25px;
    right: 25px;
    /* position: relative; */
}

.modal-buttons div{
    display: flex;
}

.modal-buttons div button{
    margin: 0 10px 0 10px;
}

.save-button {
    margin-right: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.save-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.delete-button:hover {
    color: #454444;
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container input {
    flex: 1;
    margin-right: 5px;
}

.title-container button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.google-images-button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.google-images-button:hover {
    background-color: #f4f2f2; /* Cor distintiva */
}

.youglish-button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.youglish-button:hover {
    background-color: #f4f2f2; /* Cor distintiva */
}



.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    border: none;
    background: none;
}

.close-btn:hover {
    color: #333;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}

/* Ícone flutuante de olho */
.eye-toggle {
    position: fixed;
    top: 10px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    color: #333;
    border-radius: 50%;
}

.btn:active {
    transform: scale(0.95);
}


#classification-modal .modal-content {
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
}

.classification-section {
    margin-top: 15px;
}

.classification-tree {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.classification-item {
    margin-left: 15px;
}

.classification-item input[type="checkbox"] {
    margin-right: 5px;
}

.classification-item label {
    cursor: pointer;
}


.delete-classification-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545;
    margin-left: 5px;
}

.delete-classification-btn:hover {
    color: #a71d2a;
}




/* ------------------------------------------------------------------------------------- */
/* Estilos para a Lista de Cards */ 
.cards-list {
    padding: 20px;
    width: 100%;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.card-info h4 {
    margin-bottom: 5px;
}

.card-actions button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.card-actions .edit-button:hover {
    color: #007bff;
}

.card-actions .delete-button:hover {
    color: #dc3545;
}



.card-item:hover {
    background-color: #f9f9f9;
}

.classification-label {
    background-color: #c5c5c5;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    margin-right: 5px;
}

.main-content {
    display: flex;
}

.cards-list {
    flex: 3;
    padding: 20px;
}



.add-classification-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #007bff;
}

.add-classification-btn:hover {
    color: #0056b3;
}


.classification-selector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-classifications {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.classification-tree-container {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.classification-tree-container h3 {
    margin-bottom: 10px;
}

.classification-tree-navigation .classification-item {
    cursor: pointer;
}

.classification-tree-navigation .classification-item:hover {
    background-color: #f0f0f0;
}

.classification-item {
    margin: 5px 0;
}

.classification-item .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.classification-item span:hover {
    text-decoration: underline;
}

.classification-list-container{
    width: 260px;
    padding: 10px;
}

.classification-list-container ul {
    list-style: none;
    padding: 0;
}

.classification-list-container li {
    cursor: pointer;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.classification-list-container li:hover {
    text-decoration: underline;
    text-decoration-color: #333;
}

.classification-list-container .delete-classification-icon {
    color: #dc3545;
    margin-left: 10px;
    cursor: pointer;
}

.classification-list-container .delete-classification-icon:hover {
    color: #a71d2a;
}

.classification-list-container .classification-text {
    flex: 1;
    cursor: pointer;
    font-size: 10px;
}

.classification-list-container .classification-text[contenteditable="true"] {
    border-bottom: 1px dashed #007bff;
}

.classification-list-container .classification-actions {
    display: flex;
    align-items: center;
}

.classification-list-container .classification-icon {
    color: #6c757d;
    margin-left: 10px;
    cursor: pointer;
}

.classification-list-container .classification-icon:hover {
    color: #343a40;
}

.classification-icon.disabled {
    pointer-events: none;
    opacity: 0.5;
}